html {
    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    margin: 0px !important;
    padding: 0px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background: rgb(150, 0, 187);
    background: linear-gradient(106deg, rgba(150, 0, 187, 1) 0%, rgba(205, 16, 156, 1) 79%);
    width: 100%;
    height: 100%;
}

span {
    text-transform: uppercase;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.balloon {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 9% 8% 8% 8% 8% 8% 8% 8% 9% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.balloon>div {
    width: 100%;
    height: auto;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    border-radius: 80% 80% 80% 80%;
    cursor: pointer;
    box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(1) {
    grid-column: 4;
    grid-row: 2;
    background: rgba(182, 15, 97, 0.9);
    box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(1):before {
    color: rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(2) {
    grid-column: 5;
    grid-row: 2;
    background: rgba(242, 112, 45, 0.9);
    box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(2):before {
    color: rgba(242, 112, 45, 0.9);
}

.balloon>div:nth-child(3) {
    grid-column: 6;
    grid-row: 2;
    background: rgba(45, 181, 167, 0.9);
    box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
}

.balloon>div:nth-child(3):before {
    color: rgba(45, 181, 167, 0.9);
}

.balloon>div:nth-child(4) {
    grid-column: 7;
    grid-row: 2;
    background: rgba(190, 61, 244, 0.9);
    box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
    -webkit-animation: balloon1 5s ease-in-out infinite;
    -moz-animation: balloon1 5s ease-in-out infinite;
    -o-animation: balloon1 5s ease-in-out infinite;
    animation: balloon1 5s ease-in-out infinite;
}

.balloon>div:nth-child(4):before {
    color: rgba(190, 61, 244, 0.9);
}

.balloon>div:nth-child(5) {
    background: rgba(180, 224, 67, 0.9);
    grid-column: 8;
    grid-row: 2;
    box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(5):before {
    color: rgba(180, 224, 67, 0.9);
}

.balloon>div:nth-child(6) {
    background: rgba(242, 194, 58, 0.9);
    grid-column: 9;
    grid-row: 2;
    box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon2 3s ease-in-out infinite;
    -moz-animation: balloon2 3s ease-in-out infinite;
    -o-animation: balloon2 3s ease-in-out infinite;
    animation: balloon2 3s ease-in-out infinite;
}

.balloon>div:nth-child(6):before {
    color: rgba(242, 194, 58, 0.9);
}

.balloon>div:nth-child(7) {
    background: rgba(6, 165, 33, 0.9);
    grid-column: 2;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(5, 129, 25, 0.9);
    -webkit-animation: balloon1 4s ease-in-out infinite;
    -moz-animation: balloon1 4s ease-in-out infinite;
    -o-animation: balloon1 4s ease-in-out infinite;
    animation: balloon1 4s ease-in-out infinite;
}

.balloon>div:nth-child(7):before {
    color: rgba(6, 165, 33, 0.9);
}

.balloon>div:nth-child(8) {
    background: rgba(55, 162, 224, 0.9);
    grid-column: 3;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(36, 105, 145, 0.9);
    -webkit-animation: balloon2 5s linear infinite;
    -moz-animation: balloon2 5s linear infinite;
    -o-animation: balloon2 5s linear infinite;
    animation: balloon2 5s linear infinite;
}

.balloon>div:nth-child(8):before {
    color: rgba(55, 162, 224, 0.9);
}

.balloon>div:nth-child(9) {
    background: rgba(204, 50, 140, 0.9);
    grid-column: 4;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(117, 29, 81, 0.9);
    -webkit-animation: balloon3 4s ease-in infinite;
    -moz-animation: balloon3 4s ease-in infinite;
    -o-animation: balloon3 4s ease-in infinite;
    animation: balloon3 4s ease-in infinite;
}

.balloon>div:nth-child(9):before {
    color: rgba(204, 50, 140, 0.9);
}

.balloon>div:nth-child(10) {
    background: rgba(175, 43, 43, 0.9);
    grid-column: 5;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(116, 29, 29, 0.9);
    -webkit-animation: balloon4 3s ease infinite;
    -moz-animation: balloon4 3s ease infinite;
    -o-animation: balloon4 3s ease infinite;
    animation: balloon4 3s ease infinite;
}

.balloon>div:nth-child(10):before {
    color: rgba(175, 43, 43, 0.9);
}

.balloon>div:nth-child(11) {
    background: rgba(193, 18, 216, 0.9);
    grid-column: 6;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(129, 12, 145, 0.9);
    -webkit-animation: balloon2 3s linear infinite;
    -moz-animation: balloon2 3s linear infinite;
    -o-animation: balloon2 3s linear infinite;
    animation: balloon2 3s linear infinite;
}

.balloon>div:nth-child(11):before {
    color: rgba(193, 18, 216, 0.9);
}

.balloon>div:nth-child(12) {
    background: rgba(13, 250, 250, 0.9);
    grid-column:7;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(7, 151, 151, 0.9);
    -webkit-animation: balloon3 6s ease-in infinite;
    -moz-animation: balloon3 6s ease-in infinite;
    -o-animation: balloon3 6s ease-in infinite;
    animation: balloon3 6s ease-in infinite;
}

.balloon>div:nth-child(12):before {
    color: rgba(13, 250, 250, 0.9);
}

.balloon>div:nth-child(13) {
    background: rgba(58, 242, 141, 0.9);
    grid-column: 8;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(39, 160, 93, 0.9);
    -webkit-animation: balloon1 3s linear infinite;
    -moz-animation: balloon1 3s linear infinite;
    -o-animation: balloon1 3s linear infinite;
    animation: balloon1 3s linear infinite;
}

.balloon>div:nth-child(13):before {
    color: rgba(58, 242, 141, 0.9);
}

.balloon>div:nth-child(14) {
    background: rgba(138, 58, 242, 0.9);
    grid-column: 9;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(73, 31, 128, 0.9);
    -webkit-animation: balloon4 3s ease-in-out infinite;
    -moz-animation: balloon4 3s ease-in-out infinite;
    -o-animation: balloon4 3s ease-in-out infinite;
    animation: balloon4 3s ease-in-out infinite;
}

.balloon>div:nth-child(14):before {
    color: rgba(138, 58, 242, 0.9);
}

.balloon>div:nth-child(15) {
    background: rgba(242, 239, 58, 0.9);
    grid-column: 10;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(163, 161, 38, 0.9);
    -webkit-animation: balloon2 5s ease infinite;
    -moz-animation: balloon2 5s ease infinite;
    -o-animation: balloon2 5s ease infinite;
    animation: balloon2 5s ease infinite;
}

.balloon>div:nth-child(15):before {
    color: rgba(242, 239, 58, 0.9);
}

.balloon>div:nth-child(16) {
    background: rgba(242, 58, 58, 0.9);
    grid-column: 11;
    grid-row: 3;
    box-shadow: inset 10px 10px 10px rgba(138, 33, 33, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(16):before {
    color: rgba(242, 58, 58, 0.9);
}

.balloon>div:before {
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -11px;
    left: 52px;
    content: "▲";
    font-size: 1em;
}

span {
    font-size: 4.8em;
    color: white;
    position: relative;
    top: 30px;
    left: 50%;
    margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -webkit-transform: translateY(-20px) rotate(8deg);
    }
}

@-moz-keyframes balloon1 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -moz-transform: translateY(-20px) rotate(8deg);
    }
}

@-o-keyframes balloon1 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -o-transform: translateY(-20px) rotate(8deg);
    }
}

@keyframes balloon1 {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(6eg);
    }

    50% {
        -webkit-transform: translateY(-30px) rotate(-8deg);
    }
}

@-moz-keyframes balloon2 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(6deg);
    }

    50% {
        -moz-transform: translateY(-30px) rotate(-8deg);
    }
}

@-o-keyframes balloon2 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(6deg);
    }

    50% {
        -o-transform: translateY(-30px) rotate(-8deg);
    }
}

@keyframes balloon2 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-30px) rotate(-8deg);
    }
}

/* BAllOON 0*/
@-webkit-keyframes balloon3 {

    0%,
    100% {
        -webkit-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -webkit-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@-moz-keyframes balloon3 {

    0%,
    100% {
        -moz-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -moz-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@-o-keyframes balloon3 {

    0%,
    100% {
        -o-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -o-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@keyframes balloon3 {

    0%,
    100% {
        transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        transform: translate(-20px, 30px) rotate(-8deg);
    }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {

    0%,
    100% {
        -webkit-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -webkit-transform: translate(-15px, 20px) rotate(10deg);
    }
}

@-moz-keyframes balloon4 {

    0%,
    100% {
        -moz-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -moz-transform: translate(-15px, 10px) rotate(10deg);
    }
}

@-o-keyframes balloon4 {

    0%,
    100% {
        -o-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -o-transform: translate(-15px, 10px) rotate(10deg);
    }
}

@keyframes balloon4 {

    0%,
    100% {
        transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        transform: translate(-15px, 10px) rotate(10deg);
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 3.5em;
    grid-column:1/12;
    grid-row: 4;
}