#game {
  display: none;
  grid-template-columns: 11% 14% 50% 5% 20%;
  grid-template-rows: 18% 2% 60% 11% 8% 1%;
}

canvas {
  background-color: #ffffff;
  border-radius: 2%;
  grid-column: 1/6;
  grid-row: 1/6;
  justify-self: center;
}
.game-pause{
  grid-column:1;
  grid-row:1;
  width: 1;
  opacity: .7;
  width: 120px;
  height: 120px;
  transition: all .2s linear;
}
.game-pause:hover{
  transform: scale(0.9);  
}

.pause{
  background: url(assets/sprites/icons/pause.png);
  background-size: cover;
}
.play{
  background: url(assets/sprites/icons/play.png);
  background-size: cover;
}


@media(max-height:570px) and (max-width:860px){
  .game-pause {
    width: 60px;
    height: 60px;
  }
}
@media(max-width:650px) and (max-height:1000px){
  .game-pause {
    width: 50px;
    height: 50px;
  }
}

.game-menu{
  border: 2px solid #E1F4F8;
  background: rgba(232,164,12, 0.7);
  border-radius: 5%;
  display: none; 
  grid-template-columns: 100%;
  grid-template-rows: 20% 30% 50%;
  grid-column: 3;
  grid-row: 3;
  opacity: .9;
  z-index: 100;
}
.game-menu p {
  grid-column: 1;
  grid-row: 1;
  font-size: 5vmin;
}
.game-menu .bestScore{
  grid-column: 1;
  grid-row: 2;
  font-size: 8vmin;
}

.game-menu ul li {
  display: inline-block;
  height: auto;
  width: 33.333333333333333%;
  transition: all .2s linear;
  transform: scale(0.8);
}
.game-menu ul{
  display: flex;
  grid-column: 1;
  grid-row: 3;
  justify-content: space-around;
}

.game-menu ul *:hover {
  transform: scale(0.7);
}
.game-menu .replay{
  background:url('assets/sprites/icons/replay.png');
  background-size: cover;
}
.game-menu .backMenu{
  background:url('assets/sprites/icons/menu.png');
  background-size: cover;
}
.game-menu .mscOn{
  background:url('assets/sprites/icons/mscOn.png');
  background-size: cover;
}

.game-menu .mscOff{
  background:url('assets/sprites/icons/mscOff.png');
  background-size: cover;
}



/*UI*/
.interfacePlayer{
  display: grid;
  grid-column: 1/6;
  grid-row: 5;
  grid-template-columns: 8% 32% 20% 32% 8%;
  grid-template-rows: 100%;

  opacity: .7;
}
.progress {
  margin-top:2%; 
  z-index: 5;

  grid-column: 2;
  grid-row: 1;

  width: 100%;
  height: 60%;
  
	background:#484848;
	border:5px solid #282828;
	border-radius: 10%;
	box-shadow: 0 5px 17px rgba(40, 40, 40, 0.5),0 0 3px 1px rgba(40, 40, 40, 0.5) inset;

}

.progress-bar {
	overflow: hidden;
  z-index: 10;
  border-radius: 4%;
  width: 100%;
  height: 100%;
	-moz-transition: width .5s linear;
	-webkit-transition: width .5s linear;
	-o-transition: width .5s linear;
	transition: width .5s linear;
}

.progress.hearts .progress-bar {

	background-color: #b03;
}
