/*Start screen*/

#menu {
  text-align: center;
  color: #ffffff;
  transform: scale(1.2);
}

/*adaptive*/
@media(max-height:600px) {
  #menu {
    transform: scale(0.8);
  }
}

@media(max-height:480px) {
  #menu {
    transform: scale(0.6);
  }
}

/*Button*/
#menu * {
  margin: 5px;
  transition-property: border-color, border-radius;
  transition-duration:.5s;
  transition-timing-function: linear, linear;
}


.startGame {
  font-size: 40px;
  border: 2px solid #6BD042;
  cursor: pointer;
  border-radius: 5%;
  padding: 15px;
}

.startGame:hover {
  border-radius: 20%;
}

.connectGame {
  font-size: 30px;
  border: 2px solid #6BD042;
  cursor: pointer;
  border-radius: 5%;
  padding: 20px;
}

.connectGame:hover {
  border-radius: 20%;
}

input {
  background: #202830;
  border: 2px solid #6BD042;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  color: white;
  width: 97%;
  height: 40px;
}

.option * {
  border: 2px solid #6BD042;
  cursor: pointer;
  color: aliceblue;
  font-size: 32px;
  padding: 20px;
}

.option *:hover {
  border-radius: 20%;
}

.sounds-option {
  border-bottom-left-radius: 50%;
}

.support-option {
  border-radius: 5%;
}

.help-option {
  border-bottom-right-radius: 50%;
  padding-left: 25px;
  padding-right: 25px;
}

.fa-volume-off {
  padding-left: 30px;
  padding-right: 30px;
}

.attention {
  color: red;
  font-size: 10px;
}