#game {
  display: none;
}

canvas {
  background-color: #ffffff;
  border-radius: 2%;
  justify-self: center;
}
.game-menu{
  position: absolute;
  opacity: .8;
  width: 100px;
  height: 100px;
  transition: all .2s linear;
}
.game-menu:hover{
  transform: scale(0.9);  
}
.pause{
  background: url(assets/sprites/icons/pause.png) 100% 100% no-repeat;
  background-size: cover;
}
.play{
  background: url(assets/sprites/icons/play.png) 100% 100% no-repeat;
  background-size: cover;
}

@media(max-height:570px) and (max-width:860px){
  .game-menu {
    width: 60px;
    height: 60px;
  }
}
@media(max-width:650px) and (max-height:1000px){
  .game-menu {
    width: 50px;
    height: 50px;
  }
}
