
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: 0 !important;
  overflow:  hidden; 
}

html {
  height: 100%;
  width: 100%;

  -webkit-text-size-adjust: none;
}

body {
  align-content: space-around;
  background-color: #202830;
  color: #ffffff;
  display: grid;
  font-family: 'Bahnschrift Condensed';
  justify-content: center;
  min-height: 100%;
  text-align: center;
  margin: 0px;
  width: 100%;
  position: fixed;

  -webkit-text-size-adjust: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}